<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <title>Shopia</title>
</head>

<body>
    <header class="header">
        <a href="home.html" class="logo"><img src="img/logo4.jpeg" alt="Logo Shopia"></a>
        <nav class="navbar">
            <a href="home.html">inicio</a>
            <a href="products.html">productos</a>
            <a href="about.html">nosotros</a>
            <a href="contact.html">contacto</a>
            <a href="account.html">mi cuenta</a>
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </nav>
    </header>

    <!-- <section class="home">
        <h1>la tienda <span>smart</span> de productos de <br>belleza para gente smart<span>.</span></h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum est placeat nisi dicta qui? Fugit odio quis facere accusamus, quas placeat repellendus? Placeat mollitia esse corporis alias totam nihil laudantium!</p>
        <a href="products.html" class="btn">comprar ahora <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
    </section> -->


<script></script>
</body>

</html>