{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

    {% block content %}

    <section class="home">
        <h1>Transforma tu <span>look</span>, transforma</span><br>tu <span>vida</span>.</h1>
        <p>Desde el cuidado de la piel hasta el maquillaje, tenemos todo lo que necesitas para brillar con confianza. En nuestra tienda encontraras productos de confianza que realmente funcionan, porque tu piel merece lo mejor.</p>
        <a href="{% url 'products' %}" class="btn">comprar ahora <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
    </section>

    <div class="pictures">
        <!-- <img src="/img/bioaqua1.jpg" alt=""> -->
        <img src="{% static '/img/bioaqua2.jpg' %}" alt="{% static '/img/bioaqua2.jpg' %}">
        <!-- <img src="{% static '/img/bioaqua3.jpg' %}" alt="{% static '/img/bioaqua3.jpg' %}"> -->
        <!-- <img src="{% static '/img/bioaqua4.jpg' %}" alt="{% static '/img/bioaqua4.jpg' %}"> -->
        <img src="{% static '/img/bioaqua5.jpg' %}" alt="{% static '/img/bioaqua5.jpg' %}">
        <img src="{% static '/img/bioaqua6.jpg' %}" alt="{% static '/img/bioaqua6.jpg' %}">
        <img src="{% static '/img/bioaqua7.jpg' %}" alt="{% static '/img/bioaqua7.jpg' %}">
        <!-- <img src="{% static '/img/bioaqua8.jpg' %}" alt="{% static '/img/bioaqua8.jpg' %}"> -->

    </div>

    <section class="featured">
        <h3>productos destacados</h3>
        <div class="box-container">
            <div class="box">
              <img src="{% static '/img/bioaqua4.jpg' %}" alt="{% static '/img/bioaqua4.jpg' %}">
                <h3>nombre</h3>
                <div class="stars">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half" aria-hidden="true"></i>
                </div>
                <p>$ 15.000</p>
            </div>
            <div class="box">
              <img src="{% static '/img/bioaqua5.jpg' %}" alt="{% static '/img/bioaqua5.jpg' %}">
                <h3>nombre</h3>
                <div class="stars">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half" aria-hidden="true"></i>
                </div>
                <p>$ 12.000</p>
            </div>
            <div class="box">
              <img src="{% static '/img/bioaqua6.jpg' %}" alt="{% static '/img/bioaqua6.jpg' %}">
                <h3>nombre</h3>
                <div class="stars">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half" aria-hidden="true"></i>
                </div>
                <p>$ 18.000</p>
            </div>
            <div class="box">
              <img src="{% static '/img/bioaqua7.jpg' %}" alt="{% static '/img/bioaqua7.jpg' %}">
                <h3>nombre</h3>
                <div class="stars">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half" aria-hidden="true"></i>
                </div>
                <p>$ 11.000</p>
            </div>
        </div>
    </section>

    <section class="latest">
        <h3>ultimos productos</h3>
        <div class="box-container">
            <div class="box">
              <img src="{% static '/img/bioaqua8.jpg' %}" alt="{% static '/img/bioaqua8.jpg' %}">
                <h3>nombre</h3>
                <div class="stars">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half" aria-hidden="true"></i>
                </div>
                <p>$ 15.000</p>
            </div>
            <div class="box">
              <img src="{% static '/img/bioaqua9.jpg' %}" alt="{% static '/img/bioaqua9.jpg' %}">
                <h3>nombre</h3>
                <div class="stars">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half" aria-hidden="true"></i>
                </div>
                <p>$ 12.000</p>
            </div>
            <div class="box">
              <img src="{% static '/img/bioaqua10.jpg' %}" alt="{% static '/img/bioaqua10.jpg' %}">
                <h3>nombre</h3>
                <div class="stars">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half" aria-hidden="true"></i>
                </div>
                <p>$ 18.000</p>
            </div>
            <div class="box">
              <img src="{% static '/img/bioaqua11.jpg' %}" alt="{% static '/img/bioaqua11.jpg' %}">
                <h3>nombre</h3>
                <div class="stars">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half" aria-hidden="true"></i>
                </div>
                <p>$ 11.000</p>
            </div>
        </div>
    </section>

    <section class="promo">
        <p>Tiene múltiples beneficios en la piel, pero la principal función de esta vitamina 
            es su poder <br> antioxidante, la cual desacelera la oxidación de las células de la piel, 
            previniendo <br> así el envejecimiento prematuro de las mismas.</p>
        <h3>serum</h3>
        <p>Eficacia del producto: acné, antiacné, antiarrugas, 
            tracción, nutrición de la piel, hidratante, <br> elimina la cicatriz, 
            elimina la India, encoge los poros, control de aceite.
            <p>Uso: limpia la piel y luego toma la cantidad adecuada de 
                producto uniformemente para <br> manchas de acné y masajea 
                suavemente hasta que se absorba.</p>
            </p>
            <a href="{% url 'products' %}" class="btn">comprar ahora<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
    </section>

    <section class="clients">
        <div class="box-container">
            <div class="box">
                <i class="fa fa-quote-right" aria-hidden="true"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Suscipit, expedita laborum tenetur pariatur quaerat culpa est totam, 
                    temporibus magnam aliquid enim repellendus unde autem rem fuga, 
                    ea impedit perspiciatis? Fugiat.</p>
                    <div class="stars">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half" aria-hidden="true"></i>
                    </div>
                    <img src="{% static '/img/rostro3.jpeg' %}" alt="{% static '/img/rostro3.jpeg' %}">
                    <span>Cliente satisfecho</span>
            </div>
            <div class="box">
                <i class="fa fa-quote-right" aria-hidden="true"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Suscipit, expedita laborum tenetur pariatur quaerat culpa est totam, 
                    temporibus magnam aliquid enim repellendus unde autem rem fuga, 
                    ea impedit perspiciatis? Fugiat.</p>
                <div class="stars">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half" aria-hidden="true"></i>
                </div>
                <img src="{% static '/img/rostro1.jpg' %}" alt="{% static '/img/rostro3.jpg' %}">
                <span>Cliente satisfecho</span>
            </div>
        </div>
    </section>

    {% endblock %}


</html>