{% load static %}

<footer class="footer">
    <div class="box-container">
        <div class="box">
            <h3>Accesos Rapidos</h3>
            <a href="{% url 'home' %}">inicio</a>
            <a href="{% url 'products' %}">productos</a>
            <a href="{% url 'about' %}">nosotros</a>
            <a href="{% url 'contact' %}">contacto</a>
            <a href="{% url 'account' %}">mi cuenta</a>
        </div>
        <div class="box">
            <h3>Siguenos</h3>
            <a href="#">Facebook</a>
            <a href="#">Intagram</a>
            <a href="#">Youtube</a>
        </div>
        <div class="box">
            <h3>Contactanos</h3>
            <a href="#">Telefono: 3158915440</a>
            <a href="#">Email: juanm-moncada@hotmail.com</a>
            <a href="#">Direccion: Urb Entre Verdes Mz 9 Casa 27</a>
        </div>
    </div>
    <div class="credit">Created by <span>Juan Manuel Moncada Orjuela - 2025</span></div>
</footer>